
{% extends "LljmHealthBundle::layout.html.twig" %}


{% block title %}
  Weight - {{ parent() }}
{% endblock %}

{% block lljm_health_body %}

  <h2>{{ 'Add a weight reading' | trans }}</h2>
<ul>
  {% include "LljmHealthBundle:Weight:weightform.html.twig" %}
</ul>
{% endblock %}

