{% extends "LljmHomeBundle::layout.html.twig" %}

         {% block body %}
      <div id="header" class="hero-unit">
        <h1>{{'About this web site' | trans }}</h1>

        <p>
        {{ 'This is a private web site used to share a few information with the internet.' | trans }}
        <br>
        {{ 'If you feel any interest in what you saw here don\'t hesitate to contact us.' | trans }}
        </p>
      </div>
          {% endblock %}