
{% extends "LljmHomeBundle::layout.html.twig" %}


{% block title %}
  Zones - {{ parent() }}
{% endblock %}

{% block lljm_home_body %}

  <h2>{{ 'Add a zone' | trans }}</h2>
<ul>
  {% include "LljmHomeBundle:Zone:zoneform.html.twig" %}
</ul>
{% endblock %}

