
{% extends "LljmTasksBundle::layout.html.twig" %}


{% block title %}
  Task Management - {{ parent() }}
{% endblock %}

{% block lljm_tasks_body %}

  <h2>{{ 'Add a task' | trans }}</h2>
<ul>
  {% include "LljmTasksBundle:Default:taskform.html.twig" %}
</ul>
{% endblock %}

