
{% extends "LljmHomeBundle::layout.html.twig" %}


{% block title %}
  Gas log - {{ parent() }}
{% endblock %}

{% block lljm_home_body %}

  <h2>{{ 'Add a record in the gas log' | trans }}</h2>
<ul>
  {% include "LljmHomeBundle:Visualization:gaslogform.html.twig" %}
</ul>
{% endblock %}

